img {
  width: 100%;
  height: auto;
}

h1 {
  color: #f4ce14;
}

h2 {
  color: #edefee
}

p {
  color: #edefee
}

button {
  color: #333333;
  font-size: 2em;
  background-color: #f4ce14;
  border-radius: 12px;
  border: 2px solid #333333;
}

.buttonStyler {
  color: #333333;
  font-size: 2em;
  background-color: #f4ce14;
  border-radius: 12px;
  border: 2px solid #333333;
}